@font-face {
    font-family: 'norsebold';
    src: url('/font/norse-bold-webfont.woff2') format('woff2'),
         url('/font/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.title {
    font-family: 'norsebold';
}