@font-face {
    font-family: 'norsebold';
    src: url('/font/norse-bold-webfont.woff2') format('woff2'),
         url('/font/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: max(100vh, 600px);
    display: flex;
    font-size: 0.9rem;
}

a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}

section.left {
    flex: 1;
    background-image: url("img/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.company-detail {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.35);
    margin-top: 30%;
}

.title {
    font-family: 'norsebold';
    font-size: 4rem;
    line-height: 0;
}

.credit {
    text-align: center;
}

section.right {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(249, 250, 251);
    gap: 30px;
}

section.right > * {
    padding: 0 48px;
}

.cta {
    font-size: 1.2rem;
    font-weight: bold;
}

form {
    background-color: white;
    box-shadow: 2px 4px 6px lightgray;
}

form ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 24px 48px;
}

form ul li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

form label {
    text-transform: uppercase;
    font-weight: bold;
    color: #444;
    font-size: 0.8rem;
}

form input {
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    box-shadow: 1px 1px 3px lightgray;
    padding: 3px;

    position: relative;
}

form input:focus {
    border: 1px solid blue;
    outline: none;
}

form input.error:invalid {
    border: 1px solid red;
    outline: none;
}

form input.error:invalid + span::after {
    content: '* Passwords do not match';
    color: red;
}


button {
    padding: 12px 36px;
    background-color: #596D48;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 4px 6px lightgray;
    margin-bottom: 10px;
    cursor: pointer;
}
button:hover {
    background-color: #4d5e3e;
}
button:active {
    background-color: #3c4930;
}