@font-face {
    font-family: 'Norse Bold';
    src: url('font/Norse-Bold.otf');
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;

    --theme-tone: #596D48;
}

.main-container {
    display: flex;
}

.logo-section {
    flex: 1;
    height: 100vh;
    background-image: url("/img/halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
}
.logo-container {
    background-color: rgba(0, 0, 0, 0.5);
    height: 200px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20vh;
}
.logo-container #title {
    font-family: 'Norse Bold';
}
.credit {
    text-align: center;
    margin-top: auto;
}
.credit a {
    color: white;
}

.form-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    background-color: #FBFBFB;
}
.form-section > * {
    padding: 0 5vw;
}
.form-section .description {
    font-size: 1.5rem;
    font-weight: bold;
}
.form-section .form-container {
    background-color: #FFFFFF;
    box-shadow: 0px 5px 8px #E5E7EB;
    padding-top: 30px;
    padding-bottom: 30px;
}
.form-section form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.form-section .form-row label {
    display: block;
    font-size: 0.9rem;
    font-weight: bold;
    color: grey;
}
.form-section .form-row input {
    width: min(250px, 100%);
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    padding: 6px 8px;
    margin-top: 8px;
    margin-right: 80px;
    font-size: 1rem;
}
.form-section #submit-button {
    border: none;
    border-radius: 8px;
    background-color: var(--theme-tone);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 14px 42px;
    box-shadow: 5px 5px 8px #E5E7EB;
}
.form-section .log-in {
    margin-top: 30px;
    font-weight: bold;
}
.form-section .log-in a {
    color: var(--theme-tone);
    text-decoration: none;
}